@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-primary-400: hsl(280, 55%, 44%);

  --clr-neutral-100: hsl(300, 100%, 99%);
  --clr-neutral-900: hsl(240, 9%, 13%);

  --clr-accent-400: hsl(25 100% 66%);
  --clr-accent-700: hsl(16 82% 65%);

  --ff-poppins: "Poppins", sans-serif;
}

/* START OF RESET */
/* Reset essentially provides a consistent 'square one' to start from 
regardless of user browser */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/* font: inherit; forces people to use the proper classes instead of 
using an h3 because something looks like an h3 */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END OF RESET */

body {
  max-width: 100%;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-100);
  font-family: var(--ff-poppins);
}

.primary-header {
  background-color: var(--clr-neutral-900);
}

a {
  border-radius: 10px;
  text-decoration: none;
  color: var(--clr-neutral-100);
}

main section:nth-of-type(1) {
  background-color: var(--clr-primary-400);
}

main section:nth-of-type(2) {
  background-color: var(--clr-neutral-100);
}

footer {
  background-color: var(--clr-neutral-900);
}

.header-container,
.album,
.card-holder,
.footer-container {
  max-width: 66%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 8em 5em;
}

.album .album-title {
  font-size: 2.5rem;
}

.album .album-content {
  font-size: 1.25rem;
  text-align: center;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 1.25em;
}

.album .album-buttons {
  font-size: 1rem;
}

.album .album-buttons a {
  padding: 0.75em 1.25em 0.75em;
  margin: 0.25em;
  color: var(--clr-neutral-900);
}

.album .album-buttons a:nth-child(1) {
  background-color: var(--clr-accent-400);
}
.album .album-buttons a:nth-child(2) {
  background-color: var(--clr-accent-700);
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.card {
  min-width: 33%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}

.card .image-container > img {
  width: 100%;
  height: 225px;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content-container {
  padding: 1.25em;
  background-color: var(--clr-primary-400);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-features {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.1em;
}

.card-features .card-buttons a {
  padding: 0.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
